<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log" type="Antiriad.Core.Log.LogConfiguration, Antiriad.Core" />
    <section name="settings" type="Antiriad.Core.Config.DynamicConfigurationSection, Antiriad.Core" />
  </configSections>

  <log
    maxFileCount="4" 
    maxFileSize="8096"
    logLevel="Debug"
    consoleOutput="true"
    path="./log" />

  <settings director="true">
    <inner value="test"/>
    <subtag>
      <inner value="tree"/>
    </subtag>
  </settings>
</configuration>
